configuration{
    modi: "combi,window,drun,ssh";
    combi-modes:"window,drun,run,ssh";
    window-format: "{t:55} {c}";
    icon-theme: "Oranchelo";
    show-icons: true;
//    matching: "fuzzy";
    terminal: "gnome-terminal";
    ssh-command: "{terminal} -- {ssh-client} {host} [-p {port}]";
    run-shell-command: "{terminal} -- {cmd}";
    combi-display-format: "{text}";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  Window";
    display-Network: " 󰤨  Network";
    sidebar-mode: true;
}

@theme "catppuccin-macchiato"

